@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Actor);

/* mouse pointer */
.circle {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  pointer-events: none;
  position: relative;
  top: -10rem;
  left: -10rem;
  height: 2rem;
  width: 2rem;
  transition: transform 0.4s, background 0.4s;
}

.circle.big {
  background: white;
  transform: scale(2);
}

/* scroll button */
.scroll-to-top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  cursor: none;
  transition: transform 0.4s ease;
  z-index: 100;
}
.scroll-to-top-btn:hover {
  background: #FFF;
  fill: #ff6262;
  transform: scale(1.5);
}

.arrow-icon {
  border-radius: 0px;
  width: 23.28px;
  height: 34.62px;
  left: 12px;
  top: 5px;
  position: relative;
  overflow: visible;
  fill: #FFF
}
.arrow-icon:hover {
  fill: #ff6262;
}

/* form sucessmessage */
.overlay {
  display: none;
  position: fixed;
  left: calc(50% - 250px);
  top: calc(50% - 125px);
  border-radius: 24px;
  border-style: solid;
  border-color: #95aafb;
  border-width: 2px;
  width: 450px;
  height: 200px;
  background: rgb(20, 14, 79);
  backdrop-filter: blur(24px);
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

/* Style for the success message */
#successMessage {
  color: #95aafb;
  padding: 20px;
  border-radius: 10px;
  font-family: "Actor", sans-serif;
  font-size: 26px;
  font-weight: 500;
  animation: slideIn 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out forwards;
}
 /* Animation keyframes for fadeIn */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Animation keyframes for slideIn */
@keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Animation keyframes for fadeOut */
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/* style start here */
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;
}

a:link { 
  color:inherit;
  text-decoration: none;
}

a:visited {
  color: inherit; 
  text-decoration: none; 
}

a:active {
  color: inherit;
  text-decoration: none;
}

section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about {
  position: relative;
  height: auto;
  overflow-y: auto;
  max-height: calc(115vh - 600px);
  padding: 400px 0;
}

.nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  transition: background-color 2.0s ease;
  z-index: 2;
  color: white
}

.nav a {
  text-decoration: none;
  font-family: "Actor", sans-serif;
  font-weight: 600;
}

.nav a:hover {
  color: #ff7373;
  cursor: pointer;
}

.nav a.active {
  color: #ff7373;
  font-weight: 800;
  text-decoration: none;
  font-family: "Actor", sans-serif;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgtxt {
  flex-shrink: 0;
  width: 1350px;
  height: 600px;
  position: relative;
  overflow: visible;
  top: -15%;
  right: 17.5%;
  z-index: -2;
}

.me {
  flex-shrink: 0;
  width: 396px;
  height: 348px;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  left: 50%;
  bottom: -26%;
  opacity: 1;
  cursor: pointer;
}

.me-social {
  display: none;
  position: fixed;
  top: 37%;
  left: 40%;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.me-social-bg {
  flex-shrink: 0;
  width: 420px;
  height: 138px;
  position: relative;
  overflow: visible;
}
.me-github, .me-linked, .me-behance, .me-email {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  top: 9px;
  color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
  transition: color 0.3s, fill 0.3s, stroke 0.3s, transform 0.3s;
}

.me-txt {
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #ffffff;
}
.me-github:hover, .me-linked:hover, .me-behance:hover, .me-email:hover {
  cursor: pointer;
  color: #ff7373;
  fill: #ff7373;
  stroke: #ff7373;
  transform: scale(1.2);
}

.me-github {
  left: 16px;
}
.me-linked {
  left: 117px;
}
.me-behance {
  left: 224px;
}
.me-email {
  left: 336px;
}
.git-icon, .link-icon, .beh-icon, .mail-icon {
  flex-shrink: 0;
  width: 39px;
  height: 38px;
  position: relative;
  overflow: visible;
}

.me.fade-out {
  opacity: 0;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 70%;
  top: 542px;
  color: rgb(177, 177, 177);
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 14px;
  line-height: 133.2%;
  font-weight: 400;
}

.btn-resumedownload {
  background: #353a84;
  border-radius: 8px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  color: #ffffff;
  font-family: "Actor", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.5);
}

.btn-resumedownload:hover {
  transform: scale(1.07);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  background-color: #ff6262;
  box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.5);
}

.btn-resumedownload:focus {
  outline: none;
}

.btn-resumedownload:active {
  background: #272b57;
}

.btn-resumedownload:hover::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #ffffff; 
  border-radius: 10px;
}

.bodytxt {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 72px;
  top: 415px;
  color: #FFF;
  font-family: "Advent Pro", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subline {
  color: rgb(177, 177, 177);
  font-family: "Advent Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.8px;
  text-decoration: none;;
}

.subline a:hover {
  color: #ff6262;
  font-weight: 700;
  cursor: none;
}

.bodytxt2 {
  color:  rgb(211, 211, 211);
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 16px;
  line-height: 155%;
  font-weight: 500;
  position: relative;
  width: 282px;
  height: 100px;
}

.bodytxt2 a {
  font-weight: 600;
  cursor: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.bodytxt2 a:hover {
  color: #ff6262;
  cursor: none;
}

/* Projects */
.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Pselection {
  background: #0000000f;
  border-radius: 6px;
  padding: 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 360px;
  position: absolute;
  top: 80px;
  z-index: 1;
}

.bttn,
.bttn2 {
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer; 
  color: #ffffff;
  text-align: center;
  font-family: "Actor", sans-serif;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  transition: border 0.3s ease, color 0.3s ease;
}

/* Style for the active button */
.bttn.active,
.bttn2.active {
  background: #ff6262;
  font-weight: 900;
  border: 2px solid #ffffff70;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.bttn:hover,
.bttn2:hover {
  background: #1d2051; 
  color: #ffffff;
  border: 2px solid #ff6262;
  box-shadow: 0px 10px 60px -5px rgba(0, 251, 255, 0.6);
}

.development {
  width: 1163.05px;
  height: 401.41px;
  position: fixed;
  top: 20%;
  left: 1px;
  overflow: visible;
  z-index: -2;
}
.design {
  width: 1200px;
  height: 402px;
  position: fixed;
  top: 10%;
  left: 1px;
  overflow: visible;
  z-index: -2;
}

/* Add styles for the Development and Design sections */
#development-section,
#design-section {
  width: 100vw;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-x: hidden;
}

/* Style for the active section */
#development-section.active,
#design-section.active {
  transform: translateX(0);
}

.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  padding: 10%;
  position: fixed;
}

.container {
  height: 440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1200px;
}

.card {
  width: 100px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 10%;
}

.card:hover {
  box-shadow: 0px 10px 60px -5px rgba(0, 251, 255, 0.6);
}

.card > .row {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff6262;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  backdrop-filter: blur(20px);
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
  height: 100px;
  width: 580px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
  margin:10px 0px 10px 20px;
  font-family: "Actor", sans-serif;
}

.description p {
  color: #353a84;
  padding: 5px;
  font-size: 11px;
}

.description h4 {
  text-transform: uppercase;
  font-size: 13px;
}

.linktogit {
  color: #353a84;
  fill: #353a84;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, fill 0.3s;
}

.linktogit:hover {
  color: #ff6262;
  fill: #ff6262;
}

.linktogit:visited {
  color: inherit;
}

.linktogit:active {
  color: inherit;
}

.linktogit::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, transparent, #ff6262, transparent);
  background-size: 200% 100%;
  transition: width 0.8s, background-position 0.8s;
}

/* Adjust the background position on hover to create the wave effect */
.linktogit:hover::after {
  width: 100%;
  background-position: 0 100%;
}

.linktogit svg {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.cardinput {
  display: none;
}

.cardinput:checked + label {
  width: 600px;
}

.cardinput:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
/* dev imgs */
.card[for="c1"] {
  background-image: url('./img/dev/img.png');
}
.card[for="c2"] {
  background-image: url('./img/dev/img2.jpg');
}
.card[for="c3"] {
  background-image: url('./img/dev/img4.jpg');
}
.card[for="c4"] {
  background-image: url('./img/dev/img3.png');
}

/* design imgs */
.card[for="d1"] {
  background-image: url('./img/des/img3.png');
}
.card[for="d2"] {
  background-image: url('./img/des/img1.png');
}
.card[for="d3"] {
  background-image: url('./img/des/img2.png');
}
.card[for="d4"] {
  background-image: url('./img/des/img4.png');
}

.contact-bg {
  position: relative;
  z-index: -2;
  overflow: visible;
  top: 10%;
}

.contactsec {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.contact-card {
  background: #00000078;
  border-radius: 48px;
  border-style: solid;
  border-color: #717ef1;
  border-width: 1px;
  width: 880px;
  height: 70%;
  position: relative;
  overflow: hidden;
}
.cardbg-2 {
  background: #151e6b;
  width: 300px;
  height: 100%;
  position: absolute;
  left: 580px;
}

.gold-coast-australia, .email {
  color: #ffffff;
  font-family: "Actor", sans-serif;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
}

.gold-coast-australia {
  left: 678px;
  top: 334px;
}

.email {
  gap: 8px;
  left: 642px;
  top: 136px;
  transition: font-size 0.3s ease, text-decoration 0.3s ease, color 0.3s ease;
}

.email:hover {
  font-size: 20px;
  text-decoration: underline;
  color: #adfff8;
}


.get-in-touch, .email-me-at, .find-me-at, .i-am-located-at {
  color: #ff7373;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: absolute;
}
.get-in-touch {
  left: 64px;
  top: 26px;
}
.email-me-at {
  left: 725px;
  top: 95px;
}
.find-me-at {
  left: 725px;
  top: 180px;
}
.i-am-located-at {
  left: 694px;
  top: 290px;
}
.discuss-a-project {
  color: #ffffff;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  left: 64px;
  top: 58px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.github, .linkedin, .behance {
  height: auto;
  position: absolute;
  overflow: visible;
  bottom: 50%;
  top: 45%;
  fill: white;
  transition: transform 0.2s ease;
  animation: bounce 4s ease-in-out infinite; 
}

.github {
  right: 18%;
  left: 78%;
}
.linkedin {
  right: 12%;
  left: 84%;
}
.behance{
  right: 6%;
  left: 90%;
}

.github:hover, .linkedin:hover, .behance:hover {
  transform: scale(1.8); 
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  cursor: pointer;
  animation: none;
}

form {
  position: absolute;
  top: 100px;
  left: 64px;
}

textarea{
  max-width: 400px;
  max-height: 200px;
  min-width: 400px;
  min-height: 140px;
  }

input, textarea {
  width: 400px;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow:  0px 10px 30px -5px rgba(0,0,0,1);
  color: #120B4F;
  font-size: 18px;
  font-family: "Actor", sans-serif;
}

input[type="submit"] {
  background-color: #353a84;
  width: 420px;
  margin-top: 16px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Actor", sans-serif;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  box-shadow:  0px 10px 30px -5px rgba(0,0,0,1);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
  background: #ff6262; 
  transform: scale(1.05);
  border: 1px solid #ffffff;
  box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.3);
}

/* about section */

.about-card {
  margin: 40px;
  border-style: solid;
  border-color: #717ef1;
  border-width: 2px;
  width: 1300px;
  position: relative;
  border-radius: 18px;
  background: #00000078;
}

.aboutbg {
  background: #151d6b;
  border-radius: 18px;
  width: 640px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

.about-txt {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin: 60px;
}

.head-txtwhite {
  text-align: right;
  font-family: "Actor", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  
}
.head-txt {
  color: #ff7373;
  font-family: "Actor", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.about-body-txt {
  color: #ffffff;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 520px;
}

.about-body2 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.about-body3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  width: 420px;
}

.line-1 {
  height: auto;
  position: relative;
  overflow: visible;
  left: 632px;
  top: 84px;
}

.line-2 {
  background: #717ef1;
  flex-shrink: 0;
  width: 2px;
  height: 110px;
  position: relative;
}

/* Experience */
.experience {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin: 40px;
  left: 50%;
  top: 4%;
}
.heading {
  color: #ff7373;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
}
.organization {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.exptitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.Ldiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.expdate {
  color: #acb1c3;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location {
  color: #acb1c3;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.company {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.Cdiv {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.Cname {
  color: #acb1c3;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  line-height: 8px;
  font-weight: 500;
  position: relative;
  width: 144px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Cname a:hover {
  color: #ff6262;
  cursor: none;
}

.Ctitle {
  color: #e2e6ee;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  position: relative;
  width: 172px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.expdescription {
  color: #acb1c3;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  width: 344px;
  height: 64px;
}

.Clogo {
  border-radius: 4px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}

/* education */
.education {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.university {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.unititle {
  color: #e2e6ee;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
  width: 240px;
}
.unidate {
  color: #acb1c3;
  text-align: center;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.uni {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  border-radius: 4px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.uniname {
  color: #e2e6ee;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
}

.uniname a:hover {
  color: #ff6262;
  cursor: none;
}

/* skills */
.skills {
  display: flex;
  flex-direction: row;
  gap: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.skill-devlopment-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 161px;
  position: relative;
}
.dev {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dev-icon {
  border-radius: 0px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.skilltitle {
  color: #e2e6ee;
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
}
.dev-skills {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 200px;
  height: 132px;
  position: relative;
}
.skill-list {
  color: rgb(177, 177, 177);
  text-align: left;
  font-family: "Actor", sans-serif;
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.divider {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  flex-shrink: 0;
  width: 5px;
  height: 159px;
  position: relative;
}
.skill-design-div {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 199px;
  height: 159px;
  position: relative;
}
.des {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.des-icon {
  border-radius: 0px;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.des-skills {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 188px;
  height: 130px;
  position: relative;
}

/* footer */
.footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  background:  #00000078;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  font-family: "Actor", sans-serif;
  color: #95aafb;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

:root {
  --color1: 18, 113, 255;
  --color2: 131, 43, 76;
  --color3: 200, 50, 50;
  --color4: 221, 141, 173;
  --color5: 100, 220, 255;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: linear-gradient(180deg, rgba(18, 11, 79, 1) 100%, rgba(31, 37, 81, 1) 100%);
  z-index: -2;
}

.bgsvg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(50px);
  width: 100%;
  height: 100%;
}

.gradient {
  flex: 1;
  transition: background-color 0.3s ease-in-out;
}

.g1, .g2, .g3, .g4, .g5, .interactive {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  mix-blend-mode: var(--blending);
  border-radius: 50%;
}

.g1 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  opacity: 0.6;
}

.g2 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  opacity: 0.9;
}

.g3 {
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  opacity: 0.7;
}

.g4 {
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  opacity: 1;
}

.g5 {
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  opacity: 0.5;
}

.interactive {
  top: -50%;
  left: -50%;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  opacity: 0.9;
}
