@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Actor);

.circle {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  pointer-events: none;
  position: relative;
  top: -10rem;
  left: -10rem;
  height: 2rem;
  width: 2rem;
  transition: transform 0.4s, background 0.4s;
}

.circle.big {
  background: white;
  transform: scale(2);
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  cursor: none;
  transition: transform 0.4s;
}

.scroll-to-top-btn:hover {
  background: #FFF;
  color: #ff6262;
  transform: scale(1.5);
}

.union,
.union * {
  box-sizing: border-box;
}
.union {
  border-radius: 0px;
  width: 23.28px;
  height: 34.62px;
  left: 12px;
  top: 5px;
  position: relative;
  overflow: visible;
  fill: #FFF
}
.union:hover {
  fill: #ff6262;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}
section {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

body {
  margin: 0;
  background: var(--bg, linear-gradient(180deg, rgba(18, 11, 79, 1) 100%, rgba(31, 37, 81, 1) 100%));
  scroll-behavior: smooth;
}

.nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition: background-color 1.0s ease;
}
.nav.scrolled {
  background-color: #120B4F
}

.nav a {
  text-decoration: none;
  color: white;
  font-family: "Actor", sans-serif;
  font-weight: medium;
}
.nav a:hover {
  color: #ff6262;
  text-decoration: underline;
  font-weight: bolder;
  cursor: none;
}
.nav a.active {
  color: #ff6262;
  font-weight: bolder;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bgtxt {
  flex-shrink: 0;
  width: 1350px;
  height: 600px;
  position: relative;
  overflow: visible;
  top: -15%;
  right: 17.5%;
}

.me {
  flex-shrink: 0;
  width: 396px;
  height: 348px;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  left: 50%;
  bottom: -30%;
  transition: opacity 3s ease-in-out; /* Set the duration and easing function as needed */
}

/* New styles for hover effect */
.me:hover {
  opacity: 0.0; /* Adjust the desired opacity on hover */
}

.download {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 70%;
  top: 542px;
  color: #ffffff;
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 14px;
  line-height: 133.2%;
  font-weight: 400;
}

.btn-resumedownload {
  background: #353a84;
  border-radius: 8px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  outline: none;
}

.btn-resumedownload:hover {
  background: #2c305e; /* Darken the background on hover */
  transform: scale(1.05); /* Scale up the button on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}

.btn-resumedownload:focus {
  outline: none;
}

.btn-resumedownload:active {
  background: #272b57;
}

.btn-resumedownload:hover::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #ff6262; /* Change the color of the stroke on hover */
  border-radius: 10px;
}

.bodytxt {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 72px;
  top: 415px;
  color: #FFF;
  font-family: "Advent Pro", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subline {
  color: rgba(255, 255, 255, 0.46);
  font-family: "Actor", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
  text-decoration: none;
}

a:visited {
  color: inherit; /* or the color you want for visited links */
  text-decoration: none; /* or the text-decoration you want for visited links */
}
.subline a:hover {
  color: #ff6262;
  font-weight: bolder;
  cursor: none;
}

.bodytxt2 {
  color: #ffffff;
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 16px;
  line-height: 155.32%;
  font-weight: 400;
  position: relative;
  width: 278px;
  height: 99px;
}

/* Projects */
.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.Pselection {
  background: #353a84b4;
  border-radius: 8px;
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 600px;
  position: absolute;
  top: 120px;
  transition: background 0.3s ease; /* Add transition for a smooth color change */
  z-index: 1;
}

/* Add hover effect to change background color on hover */
.Pselection:hover {
  background: #353a84; /* Change this to the desired hover background color */
}

.bttn,
.bttn2 {
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer; /* Add cursor pointer for better UX */
  transition: background 0.3s ease, color 0.3s ease; /* Add transition for a smooth color change */
}

/* Style for the active button */
.bttn.active,
.bttn2.active {
  background: #1d2051; /* Change this to the desired active button background color */
  color: #ffffff; /* Change this to the desired active button text color */
  border: 2px solid #ff6262;
}

.bttn:hover,
.bttn2:hover {
  background: #1d2051; /* Change this to the desired hover background color */
  color: #ffffff; /* Change this to the desired hover text color */
}

.txt {
  color: #ffffff;
  text-align: center;
  font-family: "Actor", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.development {
  width: 1163.05px;
  height: 401.41px;
  position: fixed;
  top: 20%;
  left: 1px;
  overflow: visible;
  z-index: -2;
}
.design {
  width: 1200px;
  height: 402px;
  position: fixed;
  top: 10%;
  left: 1px;
  overflow: visible;
  z-index: -2;
}

/* Add styles for the Development and Design sections */
#development-section,
#design-section {
  width: 100vw;
  overflow-y: auto;
  position: absolute;
  transform: translateX(-100%); /* Initial position, off-screen to the left */
  transition: transform 0.3s ease; /* Add transition for smooth section transitions */
}

/* Style for the active section */
#development-section.active,
#design-section.active {
  transform: translateX(0); /* Move the active section into view */
}

.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  padding: 10%;
  position: fixed;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  z-index: 1000;
}

.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  position: sticky; /* Set position to sticky */
  top: 10%; /* Adjust the top value as needed */
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

.cardinput {
  display: none;
}

.cardinput:checked + label {
  width: 600px;
}

.cardinput:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('./img1.jpg');
}
.card[for="c2"] {
  background-image: url('./img1.jpg');
}
.card[for="c3"] {
  background-image: url('./img1.jpg');
}
.card[for="c4"] {
  background-image: url('./img1.jpg');
}
.card[for="d1"] {
  background-image: url('./img1.jpg');
}
.card[for="d2"] {
  background-image: url('./img1.jpg');
}
.card[for="d3"] {
  background-image: url('./img1.jpg');
}
.card[for="d4"] {
  background-image: url('./img1.jpg');
}

.contact-bg {
  position: relative;
  z-index: -2;
  overflow: visible;
  top: 10%;
}

.contactsec {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.contact-card {
  height: 100%;
  width: 100%;
  background: rgba(20, 14, 79, 0.8);
  border-radius: 48px;
  border-style: solid;
  border-color: #717ef1;
  border-width: 1px;
  width: 880px;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.cardbg-2 {
  background: #151e6b;
  width: 315px;
  height: 469px;
  position: absolute;
  left: 565px;
  top: -4px;
}

.gold-coast-australia, .email {
  color: #ffffff;
  text-align: justified;
  font-family: "Actor", sans-serif;
  font-size: 17px;
  line-height: 118%;
  font-weight: 400;
  position: absolute;
}

.gold-coast-australia {
  line-height: 118%;
  left: 678px;
  top: 334px;
}

.email {
  gap: 8px;
  left: 642px;
  top: 136px;
}

.email:hover {
  font-size: 20px; /* Adjust the desired font size on hover */
  text-decoration: underline;
  color: #73faff; /* Adjust the desired hover color */
}


.get-in-touch, .email-me-at, .find-me-at, .i-am-located-at {
  color: #ff7373;
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
}
.get-in-touch {
  left: 64px;
  top: 26px;
}
.email-me-at {
  left: 725px;
  top: 95px;
}
.find-me-at {
  left: 725px;
  top: 180px;
}
.i-am-located-at {
  left: 694px;
  top: 290px;
}
.discuss-a-project {
  color: #ffffff;
  text-align: left;
  font-family: "Advent Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 58px;
}

.github, .linkedin {
  height: auto;
  position: absolute;
  overflow: visible;
  bottom: 45%;
  top: 50%;
  width: 3%;
  height: 6%;
  fill: white;
}

.github {
  right: 12%;
  left: 84%;
}
.linkedin {
  right: 6%;
  left: 90%;
}

.github:hover, .linkedin:hover {
  transform: scale(1.7); 
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  cursor: pointer;
}

form {
  position: absolute;
  top: 100px;
  left: 64px;
}

textarea{
  max-width: 400px;
  max-height: 120px;
  min-width: 400px;
  min-height: 40px;
  }

input, textarea {
  width: 400px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: #120B4F;
  font-size: 18px;
}

input[type="submit"] {
  background-color: #353a84;
  width: 420px;
    border: 1px solid #ffffff;
  margin-top: 16px;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Advent Pro", sans-serif;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
  background: #ff6262; /* Darken the background on hover */
  transform: scale(1.05); /* Scale up the button on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow on hover */
}
